{% extends 'base.html.twig' %}

{% block title %}
	Hello ViewsController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Lista Badań</h1>

		{% if errors is defined %}
			<ul class="errors">
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<button onclick="toggleFormVisibility('addExam')">Dodaj badanie</button>
		<a href="{{ url("param_index") }}">Lista parametrów</a>
		<form method="post" action="{{ url("exam_create") }}" id="addExam" class="hidden" accept-charset="UTF-8">
			<div>
				<label for="name">Nazwa:</label>
				<input id="name" type="text" name="name" value="" required>
			</div>
			<div>
				<label for="description">Opis:</label>
				<textarea id="description" type="text" name="description"></textarea>
			</div>

			<input type="submit" value="Dodaj"/>
		</form>

		<table>
			<thead>
				<tr>
					<th>Nazwa</th>
					<th>Opis</th>
					<th>Data utworzenia</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for exam in exams %}
					<tr>
						<td>{{ exam.name }}</td>
						<td>{{ exam.description }}</td>
						<td>{{ exam.createDt|date("Y-m-d") }}</td>
						<td>
							<a href="{{ url("exam_parameters", {id: exam.id}) }}">Do podglądu parametrów</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
